.player {
    width: 100%;
    aspect-ratio: 16/9;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: black;

    &__controls {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 0 10px;

        &-progress {
            flex-basis: 100%;
        }

        &-volume-bar {
            display: none;
            @media (min-width: $md-mobile) {
                display: block;
            }
        }

        &-duration {
            flex-grow: 1;
            font-family: $const-font-family;
        }
    }

}