.room {
    &__share-link {
        & > .section__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-text > span {
            color: $main-color2;
            font-weight: bold;
        }
    }

    &__video {
        width: 100%;
        aspect-ratio: 16/9;

        &-form {
            display: flex;
            align-items: center;
            gap: 6px;
            margin: 15px 0;

            &-icon {
                font-size: 22px;
            }
        }
    }

    &__clients {
        &-list {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
        }

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            width: 100px;
            aspect-ratio: 9/14;
            padding: 10px;
            border-radius: 10px;
            background-color: darken($main-color2, 30%);
        }

        &-img {
            border-radius: 50%;
            border: 3px solid $main-color;
        }

        &-username {
            width: 100%;
            color: $main-color;
            font-size: 12px;
            font-weight: bold;
            word-wrap: break-word;
        }
    }
}