.room {
    &-aside {
        position: sticky;
        top: calc(var(--header-height) + 15px);
        display: flex;
        flex-direction: column;
        height: calc(100vh - 30px - var(--header-height));
        @media (min-width: $sm-pc) {
            max-width: 340px;
        }
    }

    &__share-link {
        & > .section__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-text {
            width: calc(100% - 50px);
            color: $main-color2;
            font-weight: bold;
            word-wrap: break-word;
        }

        &-btn {
            flex-shrink: 0;
        }
    }

    &__video {
        width: 100%;
        aspect-ratio: 16/9;

        &-form {
            display: flex;
            align-items: center;
            gap: 6px;
            margin: 15px 0;

            &-icon {
                font-size: 22px;
            }
        }
    }

    &__clients {
        &-list {
            display: flex;
            flex-wrap: wrap;
            gap: 15px;
        }

        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            width: 100px;
            aspect-ratio: 9/14;
            padding: 10px;
            border-radius: 10px;
            background-color: darken($main-color2, 30%);
        }

        &-img {
            width: 100%;
            aspect-ratio: 1/1;
            border-radius: 50%;
            border: 3px solid $main-color;
        }

        &-username {
            width: 100%;
            color: $main-color;
            text-align: center;
            font-size: 12px;
            font-weight: bold;
            word-wrap: break-word;
        }
    }

    &__chat {
        flex-grow: 1;
        display: flex;
        flex-direction: column;

        &-content {
            height: calc(100% - 42px);
            display: flex;
            flex-direction: column;
        }

        &-list {
            flex-grow: 1;
            overflow-y: auto;
        }

        &-panel {
            display: flex;
            gap: 10px;
            padding-top: 10px;
        }

        &-inp {
            max-width: none;
        }

        &-item {
            position: relative;
            width: 100%;
            padding: 5px;
        }

        &-date {
            position: absolute;
            right: 5px;
            top: 12px;
            font-size: 8px;
        }

        &-username {
            display: inline-block;
            font-size: 12px;
            margin: 0 8px 0 0;
        }

        &-text {
            display: inline-block;
            width: 100%;
            flex-grow: 1;
            font-size: 11px;
            word-wrap: break-word;
        }
    }
}