// Reset
*,*::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

// Variables
$main-color: #972a22;

// Main

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: $main-color;
}
::-webkit-scrollbar-thumb:hover {
    background-color: darken($main-color, 10%);
}
::-webkit-scrollbar-track {
    background-color: black;
}

.app {
    height: 200vh;
    background-color: #333;
}